.App {
  text-align: center;
  margin: 20px;
  padding: 50px 0px;
  border-radius: 50px;
  background-color:blue;
  color: white;

  .smurfList{
  	width: 300px;
  	margin: 10px auto;


  	.eachSmurf{
  		
  		margin: 5px 0px;
  	}
  }

}
