
.App {
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 2rem;
}













