*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: lightblue;
}
.App{
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  background: lightyellow;
}
h1{
  padding: 50px;
}
form{
  padding-bottom: 20px;
}
input{
  height: 25px;
  margin: 0 10px;
}
button{
  margin-bottom: 20px;
  height: 25px;
  width: 100px;
}
