.navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 30px 0;
    align-items: center;
  }
  
  .navigation a {
    text-decoration: none;
    color: black;
  }
  
  .navigation .active-nav {
    color: #00238c;
    border: 1px solid #00238c;
    padding: 10px;
  }
  