.Smurf {
    width: 500px;
    height: 600px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 40px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .Smurf header {
    width: 100%;
    display: flex;
  }
  
  .Smurf h2 {
    width: 100%;
    text-align: center;
  }
  
  .Smurf h3 {
    margin: 0 10px;
  }
  
  .age, .height {
    width: 100%;
    display: flex;
  }
  
  .Smurf header button {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: #9e0000;
    border: 1px solid #9e0000;
    align-self: baseline;
    font-size: 1.8rem;
    margin: 2px 2px 0 0;
  }
  
  .Smurf header button:hover {
    cursor: pointer;
    border: 1px solid #ff0000;
    background-color: #ff0000;
  }
  
  .edit {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .edit button {
    width: 200px;
    height: 50px;
    background-color: rgb(48, 93, 240);
    color: white;
    font-size: 2rem;
    border: 1px solid rgb(32, 45, 218);
  }
  
  .edit button:hover {
    cursor: pointer;
    border: 1px solid #5f5f5f;
    background-color: #5f5f5f;
  }