.SmurfForm form, .EditForm form {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }
  
  .SmurfForm input, .EditForm input {
    width: 80%;
    height: 40px;
  }
  
  .SmurfForm button, .EditForm button {
    width: 300px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 2rem;
    border: 1px solid black;
  }
  
  .SmurfForm button:hover, .EditForm button:hover {
    cursor: pointer;
    border: 1px solid #5f5f5f;
    background-color: #5f5f5f;
  }