body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: blue;
  height: 100vmax;
}

h1 {
  color: white;
  margin: 30px 0 ;
}

.smurf {
  background-color: yellow;
  width: 20%;
  margin: 10px;
  opacity: .9;
  border-radius: 5px;
}

.smurfList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15%;
  margin: 0 auto;
}

input {
  margin-bottom: 5px;
  border-radius: 3px;
  height: 20px;
  border: solid 0px white;
}

button {
  width: 50%;
  margin: 0 auto;
  height: 45px;
}