body {
  margin-top: 5%;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(30, 30, 250);
  color: white;
}

button {
  font-size: 20px;
}

label {
  margin-right: 1%;
  font-size: 20px;
}

input {
  margin-right: 2%;
  font-size: 20px;
}

.dataDiv {
  display: flex;
  border: 1px solid black;
  width: auto;
  margin: 1% 40%;
  line-height: 30px;
}

p {
  margin: -1%;
  padding: 5px;
}
