body {
  margin: 0;
  color: white;
  padding: 0;
  font-family: sans-serif;
  background: rgb(0, 116, 255);
  background: linear-gradient(90deg, #23a6d5, #23d5ab, #6723d5);
  background-size: 400% 400%;
  position: relative;
  animation: change 5s ease-in-out;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
