body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background-image: url("./img/Smurf_Village.jpg");
    height: auto;
    background-size: cover;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
}


.work {
 background-color: #3c3cfa;
    border-radius: 20px;
    margin: 10px;
  text-align: center;
  padding: 12px;
  color: hsl(16, 100%, 50%);
  font-size: 15px;
  height: 250px;
  width: 300px;
    opacity: 70%;
}

input {
    margin: 8px;
    width: 150px;
}



button {
    width: 80px;
    border-radius: 5px;
}