.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smurf-list {
    display: flex; 
    width: 100%;
    justify-content: space-evenly;
    .smurf {
        background-color: blue;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.form {
    display: flex;
    margin-top: 5%;
    input {
        margin: 1%;
    }
    .add {
        margin-left: 45%;
    }
}